<!-- 搜索弹窗 -->
<div id="searchModal" class="search-modal">
  <div class="search-modal-mask" id="searchModalMask"></div>
  <div class="search-modal-dialog">
    <button class="search-modal-close" id="searchModalCloseBtn" aria-label="关闭搜索">
      <i class="fas fa-times"></i>
    </button>
    <div class="search-modal-head">
      <i class="fas fa-search"></i>
      <span>搜索</span>
    </div>
    <input class="search-modal-input" type="text" placeholder="请输入搜索的关键词" />
  <hr style="margin:0 0 0 0; border:none; border-top:1px solid #d4d4d4;">
  <div id="searchResult" style="max-height: 400px; overflow-y: auto;"></div>
  </div>
</div>